.example-card {
    padding: 0;
    margin-top: 20px;

    .title-card {
        background-color: rgb(60, 54, 68);
        color: #fff;
        padding: 10px;
    }

    .footer-card {
        color: rgb(124, 124, 199);
    }

    .mat-card-content {
        padding: 10px;

        p {
            font-weight: bold;

            span {
                font-weight: 100;
            }
        }


    }
}