<mat-card class="example-card">
    <div fxLayout="row" class="title-card" fxLayoutAlign="space-between end">
        <span>Due Follow-Up</span>
        <span><i class="fa-solid fa-square-plus"></i></span>
    </div>
    <mat-card-content routerLink="/contact">
        <p>INN TRAVEL & TOURS- <span>Collect 50% of Anwar event invoice</span></p>
        <small>Due by:10/12/2022 10:3:00pm</small>
    </mat-card-content>
    <div class="footer-card">
        <span>close</span>|
        <span>Dismiss</span>
    </div>
    <hr />
    <mat-card-content>
        <p>LEISURE INN-<span>settle down pending invoices from 2017</span>
        </p>
        <small>Due by:10/12/2022 10:3:00pm</small>
    </mat-card-content>
    <div class="footer-card">
        <span>close</span>|
        <span>Dismiss</span>
    </div>
</mat-card>



<mat-card class="example-card">
    <div fxLayout="row" class="title-card" fxLayoutAlign="space-between end">
        <span>Recent Actions</span>
        <span><i class="fa-solid fa-square-plus"></i></span>
    </div>
    <mat-card-content>
        <p>SEND NEW INVOICE- <span>inovice #15328 in tour and travel</span></p>
        <small>Due by:10/12/2022 10:3:00pm</small>
    </mat-card-content>

</mat-card>