

<mat-toolbar class="mat-elevation-z10" color="primary" fxLayout="row">
  <div>
      <div style="margin-left:5px;"><span>Account Receivable</span>
      </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="menu-items">
      <span><i class="fa-regular fa-building"></i> <span>Sky Software</span></span>
      <span><i class="fa-regular fa-user"></i>
        <span>User Name</span>
      </span>
    </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
    <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="additional links">
      <mat-icon>more_vert</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/about']">About</button>
      <button mat-menu-item [routerLink]="['/learn']">Learn in Public</button>
      <button mat-menu-item [routerLink]="['/projects']">Projects</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>