.title-company {
    background-color: rgb(42, 38, 48);
    color: #fff;

    padding-left: 10%;
    padding-top: 2%;
    
    h2{
        padding-left: 30%;
    }
   
}
.form-contact
{
    width: 70%;
}